# Conexão com o Banco de Dados PostgreSQL
DATABASE_URL=postgresql://usuario:senha@host:porta/banco

# Configuração da AWS (Opcional para desenvolvimento)
AWS_REGION=sa-east-1
DYNAMO_TABLE_NAME=
# Apenas para emular a AWS local/DynamoDB local. Remova em produção.
DYNAMO_ENDPOINT=

# Outras configurações
PORT=3000
OUTBOX_WORKER_INTERVAL_MS=60000
