NODE_ENV=development
PORT=3002

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/matc84
DYNAMODB_TABLE_PAYMENT_ATTEMPTS=matc84-dev-payment-attempts
DYNAMODB_PAYMENT_ATTEMPTS_TOKEN_INDEX=TokenIndex
DYNAMODB_PAYMENT_ATTEMPTS_ORDER_ID_INDEX=OrderIdIndex
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_MAX_ATTEMPTS=2
AWS_CONNECTION_TIMEOUT_MS=1000
AWS_REQUEST_TIMEOUT_MS=3000
PRODUCTS_API_URL=http://localhost:3000
PRODUCTS_API_TIMEOUT_MS=3000
